<h1>New Owners</h1>
<% if flash[:message]%>
 <h2><%=flash[:message]%></h2>
<%end%>
<%=form_for @owner do |f|%>
<%=f.label 'first_name'%>
<%=f.text_field 'first_name'%>
<br>
<%=f.label 'last_name'%>
<%=f.text_field 'last_name'%>
<br>
<%=f.label 'age'%>
<%=f.number_field 'age'%>
<br>
<%=f.label 'email'%>
<%=f.text_field 'email'%>
<br>
<%=f.submit 'add new owner'%>
<br>
<%end%>
