<h1>New Cup</h1>

<% if  flash[:message]%>
<h1><%=flash[:message]%></h1>
<%end%>

<%=form_for @cup do |f|%>
<%=f.label 'name'%>
<%=f.text_field 'name'%>
<br>
<%=f.label 'size'%>
<%=f.text_field 'size'%>
<br>
<%=f.collection_select(:owner_id, Owner.all, :id, :full_name)%>
<br>

<%=f.submit 'add new cup'%>
<br>
<%end%>
